{%extends 'layout.html'%}

{%block content%}

<form action="/multiplicacion" method="POST">
    <input type="radio" name="rdOperacion" id="rdMult" value="/multiplicacion" checked >
    <input type="radio" name="rdOperacion" id="rdSum" value="/suma" >
    <input type="radio" name="rdOperacion" id="rdDiv" value="/division" >
    <input type="radio" name="rdOperacion" id="rdRes" value="/resta" >    
    <label>N1:</label>
    <input type="text"name="n1"/><br> 
    <label>N2:</label>
    <input type="text"name="n2"/><br>
    <input type="submit" id="btnComprar"/>
    </form> 

    <script>
        </script>

{%endblock%}