{%extends 'layout.html'%}

{%block content%}

<form  id="formCineBoletos">
    <h1>Cinépolis</h1>
    <label>Cantidad de boletos:</label>
    <input class="input-xlarge"  type="number" id="txtCantidad" step="1" min="1" max="7"/><br> 
    <label for="rdTarjeta">Forma de Pago:</label>
    <input type="radio" name="rdTarjeta" value="0" checked onchange="actualizarTotal(); " >Efectivo
    <input type="radio" name="rdTarjeta" value="1" onchange="actualizarTotal();">Tarjeta Cineco
    <button type="button" id="btnComprar" onclick="comprar()">Comprar</button>
    <label id="lblTotal"></label>

    </form> 

    <script>
    let htmlCantidad = document.getElementById("txtCantidad");
    htmlCantidad.addEventListener("input", actualizarTotal);
    radios = document.querySelector('input[name="rdTarjeta"]')

    function comprar(){
        document.getElementById("txtCantidad").value = null
        alert("Compra realizada")}

        async function actualizarTotal(){
            let htmlCantidad = document.getElementById("txtCantidad");
            if (!htmlCantidad.value>0){
                htmlCantidad.value = 1;
            }
            var formData = new FormData();
            console.log(document.querySelector('input[name="rdTarjeta"]:checked').value);
            formData.append('cantidad', htmlCantidad.value);
            formData.append('tarjetaBool', document.querySelector('input[name="rdTarjeta"]:checked').value);

             const response = fetch("/calcularTotal", {method:"POST",
                body:formData
            }).then(response => response.text())  
    .then(texto => cambiarEtiqueta(texto))    //imprimir los datos en la consola
    .catch(err => console.log('Solicitud fallida', err));

        }

            function cambiarEtiqueta(texto){
            let htmlTotal = document.getElementById("lblTotal");
                
            if (texto>0){
                htmlTotal.innerHTML = " precio boletos: " + texto;
                document.getElementById("btnComprar").disabled = false;
            }else{
                htmlTotal.innerHTML = texto;
                document.getElementById("btnComprar").disabled = true;
            }
            console.log(texto)
            }

    </script>

{%endblock%}