{%extends 'layout.html'%}

{%block content%}

<form action="/multiplicacion" method="POST" id="formOperacion">
    <input type="radio" name="rdOperacion" id="rdMult" value="/multiplicacion" checked > multiplicacion
    <input type="radio" name="rdOperacion" id="rdSum" value="/suma" > suma
    <input type="radio" name="rdOperacion" id="rdDiv" value="/division" > division
    <input type="radio" name="rdOperacion" id="rdRes" value="/resta" >    resta <br>
    <label>N1:</label>
    <input type="text"name="n1"/><br> 
    <label>N2:</label>
    <input type="text"name="n2"/><br>
    <input type="submit"/>
    </form> 

    <script>
        let el = document.getElementsByName("rdOperacion");
        
        for (i = 0; i < el.length; i++) {
              el[i].addEventListener("change", cambiarOperacion);
            }
        function cambiarOperacion(){
          
            var elementos = document.getElementsByName("rdOperacion");
            for (i = 0; i < elementos.length; i++) {
                if (elementos[i].checked){
                    document.getElementById("formOperacion").setAttribute("action", elementos[i].value)
                }
            }
        }
    </script>

{%endblock%}